@{
    ViewData["Title"] = "Home Page";
}

<head>

</head>

<body>

    <app-root>loading...</app-root>


    <script type="text/javascript" src="~/inline.bundle.js"></script>
    <script type="text/javascript" src="~/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/styles.bundle.js"></script>
    <script type="text/javascript" src="~/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/main.bundle.js"></script>
<script type="text/javascript" src="../../dotnetcoreandAngular5/wwwroot/inline.bundle.js"></script><script type="text/javascript" src="../../dotnetcoreandAngular5/wwwroot/polyfills.bundle.js"></script><script type="text/javascript" src="../../dotnetcoreandAngular5/wwwroot/styles.bundle.js"></script><script type="text/javascript" src="../../dotnetcoreandAngular5/wwwroot/scripts.bundle.js"></script><script type="text/javascript" src="../../dotnetcoreandAngular5/wwwroot/vendor.bundle.js"></script><script type="text/javascript" src="../../dotnetcoreandAngular5/wwwroot/main.bundle.js"></script></body>
