<!--The content below is only a placeholder and can be replaced.-->
<span>Angular Kendo Demo</span>
<br />
<span>kendo Button</span>
<br />
<button kendoButton (click)="onButtonClick()" [primary]="true">My Kendo UI Button</button><br/> {{title}}
<br />

<br />
<span>Kendo Grid</span>
<br />
<div>
    <kendo-grid #grid [data]="view | async" [height]="533" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort" [pageable]="true" [sortable]="true" (dataStateChange)="onStateChange($event)" (cellClick)="cellClickHandler($event)" (cellClose)="cellCloseHandler($event)"
        (cancel)="cancelHandler($event)" (save)="saveHandler($event)" (remove)="removeHandler($event)" (add)="addHandler($event)" [navigable]="true">
        <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand>Add new</button>
            <button class='k-button' [disabled]="!editService.hasChanges()" (click)="saveChanges(grid);">Save Changes</button>
            <button class='k-button' [disabled]="!editService.hasChanges()" (click)="cancelChanges(grid);">Cancel Changes</button>
        </ng-template>
        <kendo-grid-column field="ProductName" title="Product Name"></kendo-grid-column>
        <kendo-grid-column field="UnitPrice" editor="numeric" title="Price"></kendo-grid-column>
        <kendo-grid-column field="Discontinued" editor="boolean" title="Discontinued"></kendo-grid-column>
        <kendo-grid-column field="UnitsInStock" editor="numeric" title="Units In Stock"></kendo-grid-column>
        <kendo-grid-command-column title="command" width="220">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <button kendoGridRemoveCommand>Remove</button>
                <button kendoGridSaveCommand>Add</button>
                <button kendoGridCancelCommand>Cancel</button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>

</div>
<br />

<span>Kendo Dialog</span>
<div class="example-wrapper">
    <button kendoButton *ngIf="!opened" (click)="open()">Open dialog</button>
    <kendo-dialog title="Please confirm" *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="450">
        <p style="margin: 30px; text-align: center;">Are you sure you want to continue?</p>
        <kendo-dialog-actions>
            <button kendoButton (click)="close('no')">No</button>
            <button kendoButton (click)="close('yes')" primary="true">Yes</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>

<br />
<br/>
<span>kendo PanelBar and Splitter</span>
<div class="example-wrapper container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 example-col">
            <p>Splitter</p>
            <kendo-splitter orientation="horizontal" style="height: 360px;">
                <kendo-splitter-pane size="50%" min="40%">
                    <p>PanelBar</p>
                    <kendo-panelbar>
                        <kendo-panelbar-item title="Invasion Games">
                            <kendo-panelbar-item title="Hockey"></kendo-panelbar-item>
                            <kendo-panelbar-item title="Soccer"></kendo-panelbar-item>
                            <kendo-panelbar-item title="Rugby"></kendo-panelbar-item>
                            <kendo-panelbar-item title="Basketball"></kendo-panelbar-item>
                            <kendo-panelbar-item title="Water polo"></kendo-panelbar-item>
                            <kendo-panelbar-item title="Netball"></kendo-panelbar-item>
                        </kendo-panelbar-item>
                        <kendo-panelbar-item title="Striking & Fielding Games">
                            <kendo-panelbar-item title="Cricket"></kendo-panelbar-item>
                            <kendo-panelbar-item title="Softball"></kendo-panelbar-item>
                            <kendo-panelbar-item title="Baseball"></kendo-panelbar-item>
                        </kendo-panelbar-item>
                        <kendo-panelbar-item title="Net & Court Games" [expanded]="true">
                            <kendo-panelbar-item title="Badminton"></kendo-panelbar-item>
                            <kendo-panelbar-item title="Squash"></kendo-panelbar-item>
                            <kendo-panelbar-item title="Tennis" [selected]="true"></kendo-panelbar-item>
                            <kendo-panelbar-item title="Table Tennis"></kendo-panelbar-item>
                            <kendo-panelbar-item title="Volleyball"></kendo-panelbar-item>
                        </kendo-panelbar-item>
                        <kendo-panelbar-item title="Target Games">
                            <kendo-panelbar-item title="Golf"></kendo-panelbar-item>
                            <kendo-panelbar-item title="Lawn bowls"></kendo-panelbar-item>
                            <kendo-panelbar-item title="Tenpin bowling"></kendo-panelbar-item>
                        </kendo-panelbar-item>
                    </kendo-panelbar>
                </kendo-splitter-pane>

                <kendo-splitter-pane min="40%">
                    <p>TabStrip</p>
                    <kendo-tabstrip>
                        <kendo-tabstrip-tab [title]="'Baseball'" [selected]="true">
                            <ng-template kendoTabContent>
                                <p>
                                    Baseball is a bat-and-ball game played between two teams of nine players each, who take turns batting and fielding.
                                </p>
                                <p>
                                    The batting team attempts to score runs by hitting a ball that is thrown by the pitcher with a bat swung by the batter, then running counter-clockwise around a series of four bases: first, second, third, and home plate. A run is scored when a player advances
                                    around the bases and returns to home plate.
                                </p>
                            </ng-template>
                        </kendo-tabstrip-tab>
                        <kendo-tabstrip-tab [title]="'Basketball'">
                            <ng-template kendoTabContent>
                                <p>
                                    Basketball is a sport that is played by two teams of five players on a rectangular court. The objective is to shoot a ball through a hoop 18 inches (46 cm) in diameter and mounted at a height of 10 feet (3.048 m) to backboards at each end of the court.
                                    The game was invented in 1891 by Dr. James Naismith, who would be the first basketball coach of the Kansas Jayhawks, one of the most successful programs in the game's history.
                                </p>
                            </ng-template>
                        </kendo-tabstrip-tab>
                        <kendo-tabstrip-tab [title]="'Football'">
                            <ng-template kendoTabContent>
                                <p>
                                    Football is a family of team sports that involve, to varying degrees, kicking a ball with the foot to score a goal. Unqualified, the word football is understood to refer to whichever form of football is the most popular in the regional context in which
                                    the word appears.
                                </p>
                            </ng-template>
                        </kendo-tabstrip-tab>
                    </kendo-tabstrip>
                </kendo-splitter-pane>
            </kendo-splitter>
        </div>
    </div>
</div>
<br/>
<br />
<span>Kendo Ripple</span>
<div class="example-wrapper">

    <div kendoRippleContainer>
        <!-- You can apply this directive to any container element -->

        <div class="row">
            <div class="col-xs-12 col-sm-4 example-col">
                <p>Ripple on Buttons</p>
                <button class="k-button">Default Button</button><br />
                <button class="k-button k-primary">Primary Button</button><br />
                <button class="k-button k-bare">Bare Button</button>
            </div>
            <div class="col-xs-12 col-sm-4 example-col">
                <p>Ripple on Checkboxes</p>
                <p style="line-height: 2.5em;">
                    <input type="checkbox" id="c1" class="k-checkbox" />
                    <label class="k-checkbox-label" for="c1">Checkbox 1</label><br/>
                    <input type="checkbox" id="c2" class="k-checkbox" />
                    <label class="k-checkbox-label" for="c2">Checkbox 2</label><br/>
                    <input type="checkbox" id="c3" class="k-checkbox" />
                    <label class="k-checkbox-label" for="c3">Checkbox 3</label>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 example-col">
                <p>Ripple on Radio Buttons</p>
                <p style="line-height: 2.5em;">
                    <input type="radio" id="r1" name="rg" class="k-radio" checked />
                    <label class="k-radio-label" for="r1">Radio 1</label><br />
                    <input type="radio" id="r2" name="rg" class="k-radio" />
                    <label class="k-radio-label" for="r2">Radio 2</label><br />
                    <input type="radio" id="r3" name="rg" class="k-radio" />
                    <label class="k-radio-label" for="r3">Radio 3</label>
                </p>
            </div>
        </div>

    </div>

</div>
<br/>
<br/>
<span>Kendo TreeView</span>
<kendo-treeview [nodes]="data" textField="text" kendoTreeViewExpandable kendoTreeViewSelectable kendoTreeViewHierarchyBinding childrenField="items">
</kendo-treeview>
<br/>
<br/>
<span>Kendo Gauges</span>
<div class="row">
    <div class="col-sm-12 col-md-2">
        <kendo-lineargauge #linear [pointer]="{ value: value }">
        </kendo-lineargauge>
    </div>
    <div class="col-sm-12 col-md-5">
        <kendo-radialgauge #radial [pointer]="{ value: value }">
        </kendo-radialgauge>
    </div>
    <div class="col-sm-12 col-md-5">
        <kendo-arcgauge #arc [value]="value">
            <ng-template kendoArcGaugeCenterTemplate let-value="value">
                {{ value }}
            </ng-template>
        </kendo-arcgauge>
    </div>
</div>
<br/>
<span>Kendo Stock Data</span>
<kendo-stockchart>
    <kendo-chart-title text="The Boeing Company\nNYSE:BA">
    </kendo-chart-title>
    <kendo-chart-series>
        <kendo-chart-series-item type="candlestick" [data]="stockDatata" openField="Open" closeField="Close" lowField="Low" highField="High" categoryField="Date">
        </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-navigator>
        <kendo-chart-navigator-select [from]="from" [to]="to">
        </kendo-chart-navigator-select>
        <kendo-chart-navigator-series>
            <kendo-chart-navigator-series-item type="area" [data]="stockDatata" field="Close" categoryField="Date">
            </kendo-chart-navigator-series-item>
        </kendo-chart-navigator-series>
    </kendo-chart-navigator>
</kendo-stockchart>